.HUD-gameConsole {
  bottom: 11px;
  width: 500px;
}
.HUD-gameConsole .system-update,
.HUD-gameConsole .system-update * {
  color: red;
}
.HUD-gameConsole .chat-text-container {
  background-image: linear-gradient(to bottom, #3e3e3e14 10%, #0000004d 100%);
  /*background-color: #0006;*/
  height: 120px;
  border-top: 0.5px solid #d6d6d661;
  border-bottom: 0.5px solid #d6d6d661;
  border-radius: 2px;
  padding: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.HUD-gameConsole .textInput-wrap {
  background: #0000004d;
}
.HUD-gameConsole .textInput,
.HUD-gameConsole .textInput:focus {
  background-color: #fff0;
  border: none;
  padding: 0 4px;
}
.HUD-gameConsole .textInput:focus {
  outline-color: #f1f1f117;
}
.HUD-gameConsole .textInput {
  color: #d7dbe1;
}

.HUD-gameConsole .row {
  text-shadow: 2px 2px black;
  /*style for any text in the console*/
}
.HUD-gameConsole .row .entryWrap {
  line-height: 20px;
  width: 100%;
}
.HUD-gameConsole .row .chatText {
  word-wrap: break-word;
  width: auto;
  font-size: 0.9em;
}
.HUD-gameConsole .row .star {
  fill: #ff7d00;
  vertical-align: middle;
}
.HUD-gameConsole .row .chatText.-red {
  color: #f00 !important;
}
.HUD-gameConsole .row .chatText.-separator,
.HUD-gameConsole .row .chatText.-text {
  color: #d7dbe1;
}
.HUD-gameConsole .row .chatText.-username {
  color: #f2c462;
}
.HUD-gameConsole .row .chatText.-tradeEvent {
  color: #f19b00 !important;
}

/*# sourceMappingURL=GameConsole.css.map */
