.HUD-gameConsole {
  bottom: 11px;
  width: 500px;

  .system-update,
  .system-update * {
    color: red;
  }

  .chat-text-container {
    background-image: linear-gradient(to bottom, #3e3e3e14 10%, #0000004d 100%);
    /*background-color: #0006;*/
    height: 120px;
    border-top: 0.5px solid #d6d6d661;
    border-bottom: 0.5px solid #d6d6d661;
    border-radius: 2px;
    padding: 6px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .textInput-wrap {
    background: #0000004d;
  }

  .textInput,
  .textInput:focus {
    background-color: #fff0;
    border: none;
    padding: 0 4px;
  }

  .textInput:focus {
    outline-color: #f1f1f117;
  }

  .textInput {
    color: #d7dbe1;
  }
}

.HUD-gameConsole .row {
  text-shadow: 2px 2px black;

  .entryWrap {
    line-height: 20px;
    width: 100%;
  }
  /*style for any text in the console*/
  .chatText {
    word-wrap: break-word;
    width: auto;
    font-size: 0.9em;
  }

  .star {
    fill: #ff7d00;
    vertical-align: middle;
  }

  .chatText.-red {
    color: #f00 !important;
  }

  .chatText.-separator,
  .chatText.-text {
    color: #d7dbe1;
  }

  .chatText.-username {
    color: #f2c462;
  }

  .chatText.-tradeEvent {
    color: #f19b00 !important;
  }
}