.HUD-rightClickCtxMenu {
  position: absolute;
  border: 2px solid #cecece;
  border-radius: 3px;
  z-index: 9999;
  background-color: #151515;
}

.HUD-rightClickCtxMenu .menuHeader {
  padding: 2px 7px;
}

.HUD-rightClickCtxMenu .menuContent {
  padding: 2px;
}

.HUD-rightClickCtxMenu .menuContent .option {
  padding: 1px 5px;
  background-color: #2b2b2b;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.HUD-rightClickCtxMenu .menuContent .option:hover {
  background-color: #484848;
}