/*bootstrap fix*/
/*fix the horizontal overflow of columns*/
.row {
  margin-left: 0;
  margin-right: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: #ECEDEE;
}

a {
  color: #f2c462;
  transition: color linear 0.3s;
}
a:visited {
  color: #f2c462;
}
a:hover {
  color: #f68b1f;
}

a.noMarkup {
  text-decoration: underline;
  cursor: pointer;
}

.link-inactive {
  color: #787878;
}
.link-inactive.-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-weight: 400;
  /*do not use double for line height, then the text is distorted and bad for eyes...*/
  margin: 0;
}

h1 {
  border-bottom: 2px solid #dedede;
}

h2 {
  border-bottom: 1px solid #dedede;
}

h1.mx-auto,
h2.mx-auto,
h3.mx-auto,
h4.mx-auto,
h5.mx-auto,
h6.mx-auto {
  display: table;
}

label {
  text-align: left;
  display: block;
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8;
  color: #ECEDEE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e1bb34;
  font-family: "cinzel";
  font-weight: bold;
}

p,
small,
span,
ul li {
  color: #d7dbe1;
}

.form-error {
  color: #DA222E;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
}

.hidden {
  display: none !important;
}

.hidden-opacity {
  /**push it away from screen completely*/
  left: -3000px !important;
  opacity: 0 !important;
}

/************************************/
/* ALISES AND UTILS */
/************************************/
/** utilities **/
.o-hidden {
  overflow: hidden;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.camel-case,
.camel-case * {
  text-transform: capitalize;
}

.w-100,
.w-100-percent {
  width: 100%;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.centerAbs.-horiz,
.centerAbs.-horizontal {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.centerAbs.-vert,
.centerAbs.-vertical {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.centerAbs.-vert.-horiz,
.centerAbs.-vert.-horizontal,
.centerAbs.-vertical.-horiz,
.centerAbs.-vertical.-horizontal {
  transform: translate(-50%, -50%) !important;
}

/************************************/
/* END OF ALISES */
/************************************/
/*icon sizing and styles*/
.abilityIcon {
  width: 50px;
  height: 50px;
}
.abilityIcon.-l {
  width: 75px;
  height: 75px;
}

/*# sourceMappingURL=style.css.map */
